@import '../base/skinConfig.scss';

.cubeBox{
    position: relative;
    // padding: 15px;
    // border: 1px solid #000;
    #cube_box{
        height: 400px;
    }
    #lines_box{
        // border: 1px solid #000;
        height: 500px;
    }
    
}